<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <title>Network Health Dashboard </title>
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.js') }}"></script>
    <link href="{{ url_for('static', filename='css/font-awesome/all.min.css') }}" rel="stylesheet">
    {% block scripts %} {% endblock scripts %}
{% endblock head %}
</head>

<body>
{% block body %}
    <div class="container" id="mainContainer">
        {% block content %}{% endblock content %}
        <footer>{% block footer %}{%  endblock footer %}</footer>
    </div>
{% endblock body %}
</body>

